.audio-item {
  height: 48px;
  padding: 8px 8px;
  margin: 4px 0px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  &__play {
    width: 30px;
    height: 30px;
    margin-right: 24px;
  }
  &__info {
    align-items: flex-start;
  }
  &__title {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  &__bandName {
    opacity: 0.7;
    margin-bottom: 0px;
  }
}

.folder-item {
  .ant-collapse-content-box {
    padding: 8px;
  }
  .ant-collapse-header {
    display: flex;
    padding: 0px;
    justify-items: center;
    height: 48px;
  }
}
