.player {
  background-color: white;
  height: 64px;
  border-radius: 4px;
  position: sticky;
  position: -webkit-sticky;
  z-index: 99;
  top: 0px;
  border: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  padding: 8px 16px;

  &__additional {
    display: flex;
    color: #08c;

    i {
      margin: 10px 4px 0px 4px;
      font-size: 20px;
      opacity: 0.5;
      display: block;
      cursor: pointer;
      &.active {
        opacity: 1;
      }
    }
    i:hover {
      opacity: 0.8;
    }

    .shuffle-group {
      &__label {
        width: 40px;
        text-align: center;

        height: 10px;
        font-size: 10px;
        margin: 0px;
      }
    }

    .repeat-group {
      &__label {
        width: 40px;
        text-align: center;

        height: 10px;
        font-size: 10px;
        margin: 0px;
      }
    }
  }
  &__volume {
    width: 100px;
    margin: 0px 8px;
  }
  .player-btn {
    &__play {
      font-size: 32px;
      color: #08c;
      margin-right: 8px;
      cursor: pointer;
    }
    &__play:active {
      color: rgb(2, 107, 160);
    }
    &__step {
      color: #08c;
      font-size: 20px;
      cursor: pointer;
      opacity: 0.8;
    }
    &__step:hover {
      color: rgb(2, 107, 160);
      opacity: 1;
    }
  }
}

.slider-block {
  flex-grow: 1;
  padding: 0px 8px;
  &__slider {
    margin: 4px 0px 0px 0px;
    min-width: 140px;
  }
  &__meta {
    display: flex;
    p:last-child {
      flex-grow: 1;
    }
  }
  &__author {
    opacity: 0.7;
    display: block;
  }
  &__title {
    font-weight: bold;
  }
  &__naming {
    p {
      display: block;
      margin: 0px;
      font-size: 12px;
    }
  }
  &__time {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px;
  }
}
