.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__authbox {
    width: 400px;
    p {
      text-align: justify;
      margin-bottom: 16px;
      text-indent: 8px;
    }
  }

  &__button {
    width: 100%;
    margin-bottom: 16px;
  }
}
